# compiled output
/dist
/tmp

# IDEs and editors
/.idea

### Node template
# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages
/bower_components

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Miscellaneous
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# e2e
/e2e/*.js
/e2e/*.map'
